h1,
h2,
h3 {
  font-family: 'Sora', Sans-serif;
  font-weight: 600;
  color: var(--white);
  letter-spacing: -1px;
  line-height: 125%;
}

h1 {
  font-size: 4.8rem;
  color: var(--gray-100);
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font: 400 1.8rem 'Inter', Sans-serif;
  color: var(--gray-300);
  line-height: 150%;
}
a {
  text-decoration: none;
}
/* ----- BUTTON ---- */
.btn-primary {
  display: inline-block;

  background-color: var(--pink);
  font: 600 1.6rem 'Sora', Sans-serif;
  color: var(--gray-100);
  letter-spacing: -0.001rem;
  padding: 2rem 4rem;
  transition: 0.4s;
}
.btn-primary:hover {
  background-color: var(--pink-hover);
}
/*----- MENU-ITEM -----*/
.menu-item {
  display: inline-block;
  font: 400 1.5rem 'Sora', Sans-serif;
  color: var(--gray-400);
  background-color: var(--gray-button);
  margin-right: 3.2rem;
  padding: 1.2rem 2.4rem;
  transition: 0.4s;
}
.menu-item:hover {
  background-color: var(--gray-hover);
}
