* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}
button {
  cursor: pointer;
}
