body {
  font-family: 'Sora', Sans-serif;
}

/* ----- MENU ----- */
header {
  width: 100%;
  height: 8.8rem;
  background-color: var(--gray-800);

  display: flex;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-header {
  display: flex;
  align-items: center;
}
header .menu-mobile {
  display: none;
}
.nav-header ul {
  display: flex;
}

header .nav-header .btn-primary {
  padding: 1.2rem 3.4rem;
}
/*-------- SECTION HERO ---------*/
.s-hero {
  padding: 7.2rem 0;
}

.s-hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-hero .text {
  width: 100%;
  max-width: 64rem;
}
.s-hero .text h1 {
  margin-bottom: 2rem;
}

.s-hero .text p {
  max-width: 48.8rem;
  margin-bottom: 5.6rem;
}

.s-hero .image {
  width: 100%;
  max-width: 48.8rem;
  height: 49.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-800);
  transition: 0.4s;
  cursor: pointer;
}
.s-hero .image:hover {
  background-color: var(--gray-hover);
}
/*--- Section featured cards ---*/

.s-card-featured {
  background-color: var(--gray-100);
  padding-top: 10.4rem;
  padding-bottom: 12rem;
}

.s-card-featured .main-area {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.25);
  padding-bottom: 12.5rem;
}

.s-card-featured .title {
  display: flex;
  flex-direction: column;
}

.s-card-featured .title.center {
  align-items: center;
}

.s-card-featured .title p {
  margin-top: 0.8rem;
}

.s-card-featured p {
  color: var(--white-transp);
}
.s-card-featured .all-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}

.s-card-featured .all-cards .card {
  width: 100%;
  max-width: 38.4rem;
  height: 38.2rem;
  background-color: var(--gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.4rem;
  transition: 0.4s;
}
.s-card-featured .all-cards .card:hover {
  background-color: var(--gray-200-hover);
}

.s-card-featured .all-cards .card .info {
  margin-top: 4rem;
  max-width: 28.8rem;
}
.s-card-featured .all-cards .card .info h3 {
  text-align: center;
}
.s-card-featured .all-cards .card .info p {
  text-align: center;
  margin-top: 0.8rem;
  line-height: 150%;
}

/* White card */
.s-card-featured .all-cards .card.white {
  background-color: var(--white);
  transition: 0.4s;
}
.s-card-featured .all-cards .card.white:hover {
  background-color: var(--white-hover);
}
.s-card-featured .all-cards .card.white h3 {
  color: var(--gray-100);
}
.s-card-featured .all-cards .card.white p {
  color: var(--gray-300);
}
.s-card-featured .second-area {
  margin-top: 11.2rem;
}
.s-card-featured .second-area .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.s-card-featured .second-area .all-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.2rem;
}
.s-card-featured .second-area .all-imgs .image {
  width: 17.6rem;
  height: 11.2rem;
  background-color: var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  cursor: pointer;
}
.s-card-featured .second-area .all-imgs .image:hover {
  background-color: var(--gray-200-hover);
}

/* SECTION NEWSLETTER */

.s-newsletter {
  background-color: var(--gray-200);
  padding: 15.2rem 0;
}
.s-newsletter .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-newsletter h2 {
  margin-bottom: 2rem;
  text-align: center;
}
.s-newsletter p {
  max-width: 69.4rem;
  text-align: center;

  color: var(--white-transp);
  margin-bottom: 4rem;
}
.s-newsletter .btn-primary {
  padding: 1.75rem 4.1rem;
}

/* FOOTER */
footer {
  background-color: var(--gray-100);
  padding-top: 8.1rem;
  padding-bottom: 3.9rem;
}

footer main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 7.2rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer main .area-left {
  max-width: 28.1rem;
}

footer main .area-left p {
  font-size: 1.4rem;
  color: var(--white-transp);
  margin-top: 3.5rem;
}

footer main nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 77.7rem;
}

footer main nav .item h6 {
  color: var(--white);
  font: 600 1.6rem 'Sora', Sans-serif;
  line-height: 125%;
  margin-bottom: 2.4rem;
}

footer main nav .item ul li {
  margin-bottom: 3.2rem;
}

footer main nav .item ul li:last-child {
  margin-bottom: 0;
}

footer main nav .item ul li a {
  font: 400 1.4rem 'Sora', Sans-serif;
  line-height: 105%;
  color: var(--white-transp);
}

footer main nav .item:last-child ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

footer .copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.1rem;
}

footer .copy p {
  color: var(--white-transp);
}

footer .copy .group {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

footer .copy .group span {
  color: var(--white-transp);
  font: 400 1.4rem 'Sora', Sans-serif;
}
